<div class="container mx-auto w-full">
  <div class="flex flex-row grid-cols-2 py-5 items-center">

    <div *ngIf="this.inputSeason?.posterPath">
      <div *ngIf="loadingPoster" class="absolute top-0 left-0 w-full h-full bg-gray-300 animate pulse rounded-md"></div>
      <img 
      *ngIf="inputSeason" 
      class="max-w-sm mr-5 transition duration-300"
      [style.opacity]="loadingPoster ? 0 : 1" 
      [src]="this.inputSeason?.highResPosterPath || this.inputSeason?.posterPath"
      alt="Season Poster"
      (load)="loadingPoster = false">
    </div>

    <div>
      <div class="my-10">
        <div *ngIf="this.inputSeason?.name">
          <div class="font-semibold text-3xl">{{this.inputSeason?.name}}</div>
        </div>

        <div *ngIf="this.inputSeason?.airDate">
          <div class="text-gray-600 text-lg">Aired {{this.inputSeason?.airDate}}</div>
        </div>
  
        <div *ngIf="this.inputSeason?.episodeCount">
          <div class="text-gray-600 text-lg">{{this.inputSeason?.episodeCount}} EP</div>
        </div>
      </div>

      <div *ngIf="this.inputSeason?.overview">
        <div class="font-semibold text-xl">Season Overview</div>
        <div class="w-full">{{this.inputSeason?.overview}}</div>
      </div>

    </div>

  </div>
</div>