<div class="container mx-auto px-4 mb-10">
  <div class="flex flex-col items-center gap-4 my-6">
    <app-search-bar class="w-1/2"></app-search-bar>
  </div>

  <div class="flex justify-center my-6">
    <app-radio-button *ngIf="this.currentRoute == 'trending'" [text]="['All Trending', 'Trending Movies', 'Trending Tv Shows']" [default]="0" [generalType]="this.currentRoute" (radioBtnId)="handleBtnData($event, this.currentRoute)"></app-radio-button>
    <app-radio-button *ngIf="this.currentRoute == 'movies'" [text]="['Now Playing', 'Top Rated', 'Popular']" [default]="0" [generalType]="this.currentRoute" (radioBtnId)="handleBtnData($event, this.currentRoute)"></app-radio-button>
    <app-radio-button *ngIf="this.currentRoute == 'tv-shows'" [text]="['Airing Today', 'Top Rated', 'Popular']" [default]="0" [generalType]="this.currentRoute" (radioBtnId)="handleBtnData($event, this.currentRoute)"></app-radio-button>
  </div>


  <div>
    <div *ngIf="mediaList$ | async as mediaList">
      <!-- SHOW THE CARDS IF LOADED -->
      <div *ngIf="mediaList.length >= 0">

        <div *ngIf="mediaList[0]?.id == -1" class="flex justify-center">
          <p class="text-gray-400 w-2/3 text-center">No media to show! For bookmarks, click the bookmark icon to save a show and have it appear here.</p>
        </div>

        <div *ngIf="mediaList[0]?.id !== -1" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-2/3 mx-auto">
          <div *ngFor="let show of mediaList | nameSearch : (searchQuery$ | async)">
              <app-show-card [user]="user" [show]="show" (showToBookmark)="handleToggleData($event)"></app-show-card>
          </div>
        </div>

      </div>

      <!-- OTHERWISE SHOW SKELETON -->
      <div *ngIf="mediaList.length == 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-2/3 mx-auto">

        <div *ngFor="let _ of [].constructor(20)">
          <app-skeleton-card></app-skeleton-card>
        </div>

      </div>


    </div>
  </div>
</div>